<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset done</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Open+Sans+Condensed:wght@300&display=swapfamily=IBM+Plex+Sans:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <div class="password">
    
        
        {% block content %}<h5>Reset yourpassword</h5>
        <p>We've emailed you instructions for setting your password.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        {% endblock %}
        <a href="/login">Login</a>
    </div>
    
</body>
</html>