<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form-group" id="register">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Register</h1>
        <form action="/make-account" class="info" method="POST">
        
            {% csrf_token %}
            <p>User Name: <input name="user_name" type="text" class="form-control"></p>
            <p>Email: <input name="email" type="text" class="form-control"></p>
            <p>Password: <input name="password" type="text" class="form-control"></p>
            <p>Confirm password: <input name="confirm_password" type="password" class="form-control"></p>

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</body>
</html>