<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squat and accessories</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Open+Sans+Condensed:wght@300&display=swapfamily=IBM+Plex+Sans:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <div class="Main">
        <div class="header">
        <h1>Squat and accessories cycle</h1>
        <a id="back" href="/" class="btn btn-outline-success">Home</a>
    </div>
        <div class="description">
            <p class="instructions">This is a pretty intense squatting cycle. So if you have a decent 
                training age with squatting this is a good place to start.
                What I would suggest for people that arent used to high volume and 
                high intensity is to go through this initially at moderate weights. 
                For males I would suggest the 1RM squat numbers be the equivalent 
                of 75% to 100% of your body weight. For females the 1RM squat 
                numbers should be 50% to 75% of bodyweight.</p>
        </div>
        <div>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT9ZeTHiIl6Hf2YiYyeJpJv5x2RF2Zd5VG4fYVUVY9GqDrN2uM89cIMt4nAAsAkGkYyVCE-U2xT1Oat/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
        <h4>Rate of perceived exertion (RPE)</h4>
        <table id="squat" class="table table-dark">
            <tbody>
                <tr>
                    <th class="bg-danger" scope="row">10</th>
                    <td>Maximal effort</td>
                    <td>Feels impossible to keep going. No reps left in tank. 100% 1RM</td>
                </tr>
                <tr>
                    <th class="bg-warning" scope="row">9</th>
                    <td>Very hard activity</td>
                    <td>Difficult to maintain at this level of exercise. Could do 1 more rep. About 96% 1RM</td>
                </tr>
                <tr>
                    <th class="bg-success" scope="row">7 - 8</th>
                    <td>Vigorous Activity</td>
                    <td>Close to becoming uncomfortable, can't speak while exercising. 2 - 3 reps left in tank. 90 - 92% 1RM</td>
                </tr>
                <tr>
                    <th class="bg-primary" scope="row">4 - 6</th>
                    <td>Moderate Activity</td>
                    <td>Breathing heavily and can hold a conversation. 4 - 6 reps left in the tank. About 85% 1RM</td>
                </tr>
                <tr>
                    <th class="bg-info" scope="row">2 - 3</th>
                    <td>Light Activity</td>
                    <td>Feels like you can carry on for hours</td>
                </tr>
                <tr>
                    <th class="table-info" scope="row">1</th>
                    <td>Very light Activity</td>
                    <td>Watching TV, driving a car etc.</td>
                </tr>

            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; Barbell Factor</p>
        <a href="https://www.instagram.com/jasono380/?hl=en">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <a href="mailto:JMOllada@gmail.com">
            <i class="fas fa-envelope-open-text fa-3x ml-5"></i>
        </a>
    </footer>

</body>

</html>