<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
</head>
<body>
    <script>
        const url = 'https://script.google.com/macros/s/AKfycbw9A58CvSSEDAVebKZXDfj8OObWvkeL4LlEPbte6G3LM5oCxqmczagaUmrrCWWw3qs/exec'
        function getProgramming(){
            const heading = document.querySelector('#container');
            fetch(url).then(rep => rep.json())
            .then((data)=> {
                console.log(data);
                var week = data.weeks;               
                //console.log(week);
                var program = data.programming;
                // for(var i = 0; i > program.length; i ++){
                //     week.push(program)
                //     console.log(week)
                // }
                //console.log(program);
                const container = document.createElement('div');
                output.append(container);
                week.forEach(element => {
                    //console.log(element)
                    const title = document.createElement('h2');
                    title.textContent = element;
                    container.append(title);
                    program.forEach(row => {
                        console.log(row);
                        const container2 = document.createElement('table');
                        container.append(container2);
                        //const title = document.querySelector('h2');
                        //const table = document.createElement('div');
                        //container2.append(table);
                        row.forEach(element => {
                            //console.log(element)
                            const row = document.createElement('tr');
                            container2.append(row)
                            const tableData = document.createElement('td');
                            tableData.textContent = element;  
                            container2.append(tableData);   
                        })
                })
                });
            })
        }



        window.onload = getProgramming
        console.log('page is fully loaded')
        

    </script>
    <div id='output'>
        <h1>Current cycle</h1>
    </div>
</body>
</html>
<!-- https://script.google.com/macros/s/AKfycbwgxCaomYhCsgDouu5Ol0uOl6bPlmG_aPTNoatfcJXH0W231scxCMjz1kctAktGSJw/exec
https://script.google.com/macros/s/AKfycbw29PYt2N_7Zu0-zJJbmH15uMr4entVrJoi8oEbmGHK5izWM2q03RfotxrLLZT6uXI/exec -->
<!-- https://docs.google.com/spreadsheets/d/1RI8Gr0O5SG_k34xMWLeURJ9v0j6yKo1ikwJuBS0rU00/edit?usp=sharing
// https://docs.google.com/spreadsheets/d/e/2PACX-1vSoka6TswxWhmYQjiUbLuyNKedL92CzdXtW957cbdmR67CWrNmMvDuh6MFR3prTCqCCOR_xItjbqbNI/pubhtml
// https://docs.google.com/spreadsheets/d/1RI8Gr0O5SG_k34xMWLeURJ9v0j6yKo1ikwJuBS0rU00/edit?usp=sharing --> 

<!-- function getSheets(){
//     fetch('https://docs.google.com/spreadsheets/d/1RI8Gr0O5SG_k34xMWLeURJ9v0j6yKo1ikwJuBS0rU00/gviz/tq?')
//     .then(function(res) {
// /* get the data as a Blob */
// if(!res.ok) throw new Error("fetch failed");
// return res.arrayBuffer();
// }).then(function(ab) {
// /* parse the data when it is received */
// var data = new Uint8Array(ab);
// var workbook = XLSX.read(data, {type:"array"});
// var sheets = workbook.Sheets;
// var sheetweek = workbook.SheetNames[0];
// var sheetnames = workbook.SheetNames;



// /* DO SOMETHING WITH workbook HERE */
// console.log(data),
// console.log(workbook),
// console.log(sheets),
// console.log(sheetnames),
// console.log(sheetweek)

// });
// } -->

    <!-- // function getProgramming(){
    // const title = document.querySelector('#title');
    // const week = document.querySelector('#week');
    // const weekNum = 'week1'
    // const url = 'https://docs.google.com/spreadsheets/d/1RI8Gr0O5SG_k34xMWLeURJ9v0j6yKo1ikwJuBS0rU00/gviz/tq?';
    // const q1 = 'sheet='+ weekNum;
    // let url1 = `${url}&${q1}`;
    // console.log(q1)
    // fetch(url1)
    // .then(res => res.text())
    // .then(rep => {
    //     console.log(rep);
    //     const data = JSON.parse(rep.substr(47).slice(0,-2));
    //     const row = document.createElement('div');
    //     title.append(row);
    //     data.table.cols.forEach((heading) => {
    //         console.log(heading);
    //         const cell = document.createElement('td');
    //         cell.textContent = heading.label;
    //         row.append(cell);
    //     });
    //     data.table.rows.forEach((main) => {
    //         console.log(main.c);
    //         const container = document.createElement('tr');
    //         title.append(container);
    //         main.c.forEach((ele) =>{
    //             console.log(ele);
    //             const cell = document.createElement('td');
    //             cell.textContent = ele.v;
    //             container.append(cell)
    //         })
    //     });
    //     console.log(data)
    // })}  -->
    <!-- *******Original code to pull data****** -->
    <!-- // programming.forEach(row => {
        //     //console.log(row[0, 0])
        //     const container2 = document.createElement('div');
        //     output.append(container2);
        //     //const title = document.querySelector('h2');
        //     const table = document.createElement('div');
        //     container2.append(table);
        //     row[0].forEach(element => {
        //         console.log(element)
        //         const workouts = document.createElement('tr');
        //         table.append(workouts);
        //         workouts.textContent = element;   
        //     })
            
        //     //table.append(workouts);
        // }) -->